<!doctype html>
<html>
<head>
    <title>Add Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/add.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add Contact</h1>
        <form method="POST" action="/add">
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="phone" placeholder="Phone" required>
            <button type="submit">Save Contact</button>
        </form>
        <a href="/">? Back to Home</a>
    </div>
</body>
</html>
